mainHome {
    width: inherit; height: auto;
    max-width: 100%;
}
h1 {
    font-size: 100px;
    text-align: center;
    font-family: serif ;
}
h1 img {
    position: relative;
    top: 25px;
}
ul {
    list-style: none;
    padding: 0;
}
.menubar {
    position: relative;
    display: flex;
}
.mainMenu {
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.dropDown {
    position: relative;
    height: 50px;
    width:300px;
    margin: 0;
    background: dodgerblue;
    font-size: 1.5em;
}
.dropDown:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.dropDown:last-child {
    background: #262626;
    color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.dropDownContent {
    display: none;
    position: absolute;
    background-color: dodgerblue;
    box-shadow: 1px 1px 13px white;
    border-radius: 4px;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    width: 10em;
    z-index: 2;
}

.dropDown .dropDownContent a {
    background-color: skyblue;
    display: block;
    padding: 7px 8px;
    margin: 0;
    color: darkblue;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    font-family: "굴림";
    font-weight: bold;
}
.dropDown:hover {
    background: mediumblue;
    color: white;
    margin: 0;
}
.dropDown:last-child:hover {
    background: red;
}
.dropDownContent a:hover {
    background-color: deepskyblue;
}
.dropDown:hover .dropDownContent {
    display: block;
}
.mainImgsSlide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mainImgSlide {
    max-width: 100%;
    height: auto;
    display: block;
}

.mainImgSlide img {
    width: inherit; height: auto;
    max-width: 100%;
}

.clickBoxs {
    position: relative;
    display: flex;
    justify-content: space-around;
}
.clickBoxs .clickBox {
    border: 1px solid black;
    margin: 10px;
}

.clickBox img {
    width: inherit; height: auto;
    max-width: 100%;
}
